video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}
video::-webkit-media-controls {
    display: none !important;
}

video::-moz-media-controls-play-button {
    display: none !important;
}

.login{
    font-family: 'roboto';
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
        ),
         /* url("./../../../../public/IMG_3842.JPEG");
    background-size: cover; */
}
.loginTitle{
    color: whitesmoke;
    font-size: 50px;
}

.loginForm{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: calc(35vh - 70px);
   background-color: rgba(94, 94, 94, 0.399);
    color: whitesmoke;
}

.loginForm>label{
    margin: 10px 0;

}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color:  rgb(33, 125, 255);
    border: none;
    color: white;
    border-radius: 10%;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.loginButton:disabled{
    cursor:not-allowed;
    background-color:rgb(129, 177, 245);
}

.loginRegisterButton{
   position: absolute; 
   top: 13px;
   right: 20px;
   background-color:lightcoral;
   cursor: pointer;
   border: none;
   padding: 10px;
   color: white;
   border-radius: 10px;
}
.forgotPasswordLink{
    font-family: 'Roboto Condensed', sans-serif;
   transform: translateY(-140%);
    color: white;
    text-decoration: none;
}
.forgotPasswordModal{
    margin-top: 20px;
    margin-bottom: 20px;
}
.successPopup {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 999;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }
  
  .successPopup button {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
    padding: 8px 16px;
    background-color:  rgb(33, 125, 255);
    color: white;
    border: none;
    cursor: pointer;
  }
.errorMessage{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


@media only screen and (max-width: 780px) {
    .loginTitle {
      font-size: 30px;
      font-family: 'Roboto Condensed', sans-serif;
    }
  
    .loginForm {
      height: 250px;
      font-family: 'Roboto Condensed', sans-serif;
    }
  
    .loginButton {
      margin-top: 15px;
    }
  
    .loginRegisterButton {
      top: 11px;
      right: 10px;
      padding: 8px;
    }
    .forgotPasswordLink{
        font-family: 'Roboto Condensed', sans-serif;
       transform: translateY(-230%);
       margin-top: 15px;
        color: white;
        text-decoration: none;
    }
    .successPopup {
        width: 300px;
    }
  }