.settings{
    display: flex;
}

.settingsWrapper{
    flex: 9;
    padding: 20px;
}

.settingsTitles{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsUpdateTitle{
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
  font-family: 'Roboto Condensed', sans-serif;
}

.settingsDeleteTitle{
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingsForm{
 display: flex;
 flex-direction: column;  
 font-family: 'Roboto Condensed', sans-serif;
}

.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settingsPP > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsForm > label{
    font-size: 20px;
    margin-top: 20px;
}

.settingsForm > input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;

border-bottom: 1px solid lightgray;
}

.settingsSubmit{
    width: 150px;
    align-self: center;
border: none;
border-radius: 10px;
color: white;
background-color: rgb(180, 58, 5);
padding: 10px;
margin-top: 20px;
cursor: pointer;
font-family: 'Roboto Condensed', sans-serif;
}

.settingsError {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .settingsSuccess {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }

  @media only screen and (max-width: 780px) {
    .settingsUpdateTitle {
      font-size: 24px;
    }
  
    .settingsDeleteTitle {
      font-size: 10px;
    }
  
    .settingsForm > label {
      font-size: 16px;
    }
  
    .settingsForm > input {
      height: 25px;
    }
  
    .settingsSubmit {
      width: 120px;
    }
  }