.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:initial;
  min-height: 122vh;
  margin: auto;
  margin-top: -243px;
}

.header-container {
  font-family: 'Roboto Condensed', sans-serif;
  color: #393939;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}
.siteSuperTitle {
  font-size: 36px;
}
.siteTitle {
  font-weight: bold;
  font-style: italic;
  font-size: 27px;
  margin-top: 41px;
  margin-bottom: 40px;
}
.siteDescription {
  transform: translateY(-40%);
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 23px;
  margin-top: 80px;
  margin-bottom: 10px;
  max-width: 1700px;
  text-align: center;
  line-height: 2;
}
.fade-in {
  opacity: 1 !important;
}

.fade-in-delay1 {
  opacity: 0;
}

.fade-in-delay2 {
  opacity: 0;
}

.fade-in-delay3 {
  opacity: 0;
}

.fade-in {
  transition: opacity 2s ease-in-out;
}

.TitrePost {
  font-size: 30px;
  position: relative;
}

.TitrePost::before,
.TitrePost::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #797979; /* Couleur des traits */
  width: 90px; /* Longueur des traits */
  top: 50%;
  transform: translateY(-50%);
}

.TitrePost::before {
  left: -120px; /* Ajustez la position du trait de gauche */
}

.TitrePost::after {
  right: -120px; /* Ajustez la position du trait de droite */
}

.description-container {
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 800px;
  text-align: center;
}

.posts-header {
  font-family: 'Roboto Condensed', sans-serif;
  color: #393939;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.ico-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all .20s cubic-bezier(0.4, 0.0, 0.2, 1);
/*   border: 2px solid; */
}

.ico-btn__plus{
  width: 16px;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);;
}

.ico-btn__plus::after{
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
  
  transform: rotate(90deg);
}

.ico-btn.is-active .ico-btn__plus{
  transform: rotate(225deg);
}


.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  margin: 20px;
  
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  align-items: stretch;
}

.post {
  margin-bottom: 20px;
}

.scrollUpIcon{
  margin-top: 60px;
  cursor: pointer;
}
.scrollUpIcon.hidden {
  opacity: 0;
  transition: opacity 0s ease-in-out; /* Ajoutez une transition pour un fondu en douceur */
}

/* Définissez l'opacité normale lorsque la classe n'est pas présente */
.scrollUpIcon {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; /* Ajoutez une transition pour un fondu en douceur */
}
@media only screen and (max-width: 600px) {
  .header-container {
    text-align: center;
    background-color: white;
    border-radius: 2px;
    max-width: 60% !important;
  }
  .siteSuperTitle {
    font-size: 21px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .siteSuperTitle span {
    font-size: 30px; /* Taille de police pour "BIENVENUE" */
  }
  .siteTitle {
    font-size: 13px; 
    margin-top: 15px; 
    margin-bottom: 30px; 
  }

  .siteDescription {
    transform: translateY(-20%);
    margin-top: 35px;
    font-size: 18px; 
    min-height: 15vh;
    justify-content: center;
    align-items: center;  
    line-height: 2;
  }
  .fade-in {
    opacity: 1 !important;
  }
  
  .fade-in-delay1 {
    opacity: 0;
  }
  
  .fade-in-delay2 {
    opacity: 0;
  }
  
  .fade-in-delay3 {
    opacity: 0;
  }
  
  .fade-in {
    transition: opacity 2s ease-in-out;
  }
  .TitrePost{
    font-size: 20px;
  }
  .TitrePost::before,
.TitrePost::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #797979; /* Couleur des traits */
  width: 50px; /* Longueur des traits */
  top: 50%;
  transform: translateY(-50%);
}

.TitrePost::before {
  left: -60px; /* Ajustez la position du trait de gauche */
}

.TitrePost::after {
  right: -60px; /* Ajustez la position du trait de droite */
}
  .description-container {
    margin-top: 15px; 
    margin-bottom: 5px; 
    max-width: 100%; 
  }

  .posts-header {
    margin: 15px 0; 
  }

  .posts-container {
    min-height: 30vh; 
    margin: 10px; 
  }

  .posts {
    flex-direction: column; 
  }

  .post {
    margin-bottom: 60px; 
    width: 80%;
  }
}