.top{
    width: 100%;
    height: 50px;
    background-color:white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}

.topLeft,.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter{
    flex: 6;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}

@media only screen and (max-width: 600px) {
    .topLeft, .topRight {
      flex: 1; /* Ajustez la flexibilité pour occuper moins d'espace */
    }
  
    .topListItem {
      font-size: 10px; /* Réduisez la taille de police pour une meilleure lisibilité sur les petits écrans */
      margin-right: 7px; /* Réduisez la marge entre les éléments pour économiser de l'espace */
    }
  
    .topSearchIcon {
      font-size: 16px; /* Réduisez la taille de l'icône de recherche */
      margin-left: 10px; /* Réduisez la marge à gauche de l'icône de recherche */
    }
  }
