
.top {
  width: 100%;
  height: 250px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 999;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease, transform 0.3s ease;
}
.topScrolled {
  height: 50px; 
  
  transform: translate(0, -270%);
}
  .topLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topLogo {
  width: 20vw; 
  height: auto;
 object-fit: cover;
  cursor: pointer;
  transform: translate(198%, -2%); 
}
  .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .topCenter {
    flex: 6;
 
  }
  
  .topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
   
    transform: translateX(570%);
  }
  
  .topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 19vh;
  }
  
  .topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #333; 
  }
  
  .topListItem::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: #666; 
    transition: transform 250ms;
  }
  
  .topListItem:hover::after {
    transform: translateX(-50%) scaleX(1);
  }
  
  /* .topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
  } */
  
  @media only screen and (max-width: 600px) {
    .top {
      /* Styles spécifiques pour les mobiles */
      height: 200px; /* Ajustez la nouvelle hauteur pour les mobiles */
    }
    .topScrolled {
      height: 50px; 
      
      transform: translate(0, -250%);
    }
    .topLogo {
      /* Ajustez les styles pour le logo sur les mobiles */
      width: 50vw;
      transform: translate(60%, -30%);
    }
    .topCenter {
     transform: translateX(-50%);
     
    }
    .topList {
      margin-bottom: 0px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .topListItem {
      font-size: 13px; 
      margin-right: 7px; 
      white-space: nowrap;
    }
    .topListItem::after {
      transform: translateX(-50%) scaleX(0);
      transition: transform 250ms; /* Ajouter une transition pour l'effet d'animation */
    }
  
    .topListItem:hover::after {
      transform: translateX(-50%) scaleX(1);
    }
  
    .topListItem:hover {
      color: #666; 
    }
    .topRight {
      position: absolute;
      right: 10px;
      top: -70px;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .topImg {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
      transform: translateX(10%);
    }
 
  }