
.banner {
  margin-bottom: 70px;
}

.banner-image {
  width: 100%;
  height: 910px;
  object-fit: cover;
  position: absolute;
}

.titre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 130px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
  z-index: 1;
}


  .white-box {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 680px; 
    text-align: center;
    transform: translateY(-80%);
    height: 280px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }


.white-box h2 {
  color:  #393939;
  font-size: 27px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.white-box p {
  margin-top: 20px;
  font-size: 23px;
  color: #555;
  font-style: italic;
  line-height: 2;
  transform: translateY(30%);
}

.button-container {
  position: relative; 

}
.custom-button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;

  width: 100px;
  height: 61px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,150%);
  z-index: 2;
}

.custom-button:hover {
  background-color: #45a049;
}

.recipes-container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-wrap: wrap; 

}

.recipe-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  transform: translateX(-4%);
}

.recipe-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 200px;
  
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.recipe-card.clicked {
  opacity: 0.7;
  
}

.recipe-card:hover {
  transform: scale(1.05);
  
}

.recipe-card img {
  width: 100%;
  height: 150px;
  max-height: 150px;
  object-fit: cover;

}

.recipe-card h3 {
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

.recipe-details img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 20px;
 transform: translateX(5%);
  
}

.recipe-details h2 {
  margin-top: 10px;
  transform: translateX(5%);
}

.ingredients,
.instructions {
  margin-top: 15px;
  transform: translateX(5%);
  max-width: 550px;
  
}

.ingredients h4,
.instructions h4 {
  margin-bottom: 19px;
}

.ingredients ul,
.instructions ol {
  padding-left: 20px;
  margin-bottom: 15px;
}


.recipe-card.clicked {
  opacity: 0.7;
}


.recipe-details {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  opacity: 0;
  transition: opacity 0.8s ease;
  max-width: 620px;
  transform: translate(30%, 10%);

}

.recipe-details.clicked {
  opacity: 1;
  margin-bottom: 30px;
}

@media (max-width: 780px) {
  .titre {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
    z-index: 1;
  }
  .banner-image{
    width: 100%;
  height: 390px;
  object-fit: cover;
  position: absolute;
  }
  .white-box {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 304px; 
   
    text-align: center;
    transform: translateY(-35%);
    height: 195px;
  
    opacity: 0; 
    animation: fadeIn 1s ease-out forwards;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  }
  .white-box h2 {
    color: #393939;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .white-box p {
    transform: translate( 3%, 3% );
    font-size: 15px;
    color: #555;
    font-style: italic;
    line-height: 2;
    width: 93%;
  }
  .recipes-container {
    max-width: 90%; 
    transform: translateY(1%);
    margin-top: 20px;
    height: 980px; 
    margin-bottom: 140px;
  }

  .recipe-cards {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 200px;
    overflow-x:auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 108%;
    margin-bottom: 20px;
  }
  
  .recipe-card {
    max-width: 150px;
    max-height: 150px;
    margin-top: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    flex: 0 0 auto;
     }

  .recipe-card:last-child {
    margin-right: 0;
  }
  .recipe-card h3{
    font-size: 13px;
   
  }
  .recipe-card img {
    height: 90px;
    
  }
  .recipe-details.clicked {
   height: 780px;

position: absolute;
top: 70%;
transform: translateY(-50%);
  }
  .recipe-details img{
    width: 90%;
  }
  .instructions{
max-width: 90%;
  }
  .ingredients{
    max-width: 80%;
  }
}
