
.banner {
  margin-bottom: 70px;
}

.banner-image {
  width: 100%;
  height: 910px;
  object-fit: cover;
  position: absolute;
}

.titre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 130px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
  z-index: 1;
}


  .white-box {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 680px; 
   
    text-align: center;
    transform: translateY(-80%);
    height: 360px;
    opacity: 0; 
    animation: fadeIn 1s ease-out forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.white-box h2 {
  color:  #393939;
  font-size: 27px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.white-box p {
  margin-top: 20px;
  font-size: 23px;
  color: #555;
  font-style: italic;
  line-height: 2;
}

.recipes-container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-wrap: wrap; 
  transform: translateY(-290px);
}

.recipe-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  transform: translateX(-4%);
}

.recipe-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 200px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.recipe-card.clicked {
  opacity: 0.7;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  width: 100%;
  height: 150px;
  max-height: 150px;
  object-fit: cover;

}

.recipe-card h3 {
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

.recipe-details img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 20px;
 transform: translateX(5%);
  
}

.recipe-details h2 {
  margin-top: 10px;
  transform: translateX(5%);
}

.ingredients,
.instructions {
  margin-top: 15px;
  transform: translateX(5%);
  max-width: 550px;
  
}

.ingredients h4,
.instructions h4 {
  margin-bottom: 19px;
}

.ingredients ul,
.instructions ol {
  padding-left: 20px;
  margin-bottom: 15px;
}


.recipe-card.clicked {
  opacity: 0.7;
}


.recipe-details {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  opacity: 0;
  transition: opacity 0.8s ease;
  max-width: 620px;
  transform: translate(30%, 10%)
}

.recipe-details.clicked {
  opacity: 1;
 
}

@media (max-width: 780px) {
  .titre {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
    z-index: 1;
  }
  .banner-image{
    width: 100%;
  height: 390px;
  object-fit: cover;
  position: absolute;
  }
  .white-box {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 210px; 
   
    text-align: center;
    transform: translateY(-35%);
    height: 195px;
    opacity: 0; 
    animation: fadeIn 1s ease-out forwards;
  }
  .white-box h2 {
    color: #393939;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .white-box p {
    transform: translate( -12%, 30% );
    font-size: 15px;
    color: #555;
    font-style: italic;
    line-height: 2;
    width: 130%;
  }
  .recipes-container {
    max-width: 90%; 
    transform: translateY(1%);
    margin-top: 20px;
  }

  .recipe-cards {
    gap: 10px;
    justify-content: center;
    height: 140px;
    width: 400px;
    margin-left: 25px;
  
  }

  .recipe-card {
    width: 70%;
  }
  .recipe-card h3{
    font-size: 13px;
   
  }
  .recipe-card img {
    height: 60px;
    
  }
  .recipe-details.clicked {
    transform: translateY(5%);
 
    flex: 1;
    max-width: 100%;
  }
  .recipe-details img{
    width: 90%;
  }
  .instructions{
max-width: 90%;
  }
  
}
