.post {
  width: 330px;
  margin: 0px 25px 40px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  margin-bottom: 50px; 
}
.post:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Effet de surbrillance au survol */
  transition: box-shadow 0.3s ease; /* Ajoute une transition au survol */
  transform: scale(1.1);
}
.postImg {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin: 10px auto 0;
  cursor: pointer;
  margin-bottom: 15px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.postCat{
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    color: #be9656;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle{
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.postDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
}

.postDesc{
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


@media only screen and (max-width: 600px) {
    .post {
      width: 100%; /* Ajustez la largeur pour occuper toute la largeur de l'écran */
      margin: 10px 30px 0; 
    }
  
    .postImg {
      height: 200px; /* Réduisez la hauteur de l'image */
    }
  
    .postTitle {
      font-size: 20px; 
      
    }
  
    .postDesc {
      font-size: 12px; /* Réduisez la taille de police de la description */
      line-height: 18px; /* Réduisez la hauteur de ligne de la description */
    }
    .postDate{
      margin-bottom: 14px;
    }
  }